:root {
  --primary-color: #6c63ff;
  --secondary-color: rgb(248, 244, 244);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #dbd0f8;
}
h1,
h2 {
  text-align: center;
  margin: 0;
}
h1 {
  color: black;

  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  font-size: 24px;

  color: rgb(63, 8, 8);
  line-height: 1.5;
}
h4 {
  margin-top: 10px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav ul li a:hover {
  color: #f9004d;
  transition: 0.4s;
}
nav li.active a {
  color: #7c52ef;
}
span {
  color: #800a30;
}
.container h4 a {
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}
.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}
.desc {
  padding: 80px 20px;
}

.desc p {
  color: rgb(114, 41, 41);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.about-paragraphs .work {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}
.body {
  text-align: center;
  background: #cebff5;
  padding: 80px 20px;
}
.body p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: rgba(78, 7, 78, 0.8);
  letter-spacing: 2px;
}

.about-text {
  background: #f9f7fe;
  padding-top: 100px;
}

.body h2 {
  font-weight: normal;

  font-size: 24px;
}

.about {
  padding: 80px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
}

.about-section {
  margin: 30px;
}
.about-section p {
  color: rgb(114, 41, 41);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

img {
  height: 50%;
  width: 430px;
  border-radius: 10px;
}
footer {
  margin: 60px 0;
}
footer h4 {
  font-size: 48px;
}

footer .contact-box {
  background: #cebff5;
  padding: 30px 120px;
  border-radius: 10px;
  margin: 40px;
}

footer .contact-box p {
  margin: 0;
  font-size: 20px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }
  .about {
    text-align: center;
    padding: 30px;
  }

  .body {
    padding: 80px 20px;
  }
  .work-content h1 {
    font-size: 44px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  h4 {
    font-size: 26px;
  }

  .desc {
    padding: 0;
    text-align: center;
  }
}

.open-source {
  font-size: 15px;
}
.open-source a {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.open-source a:hover {
  text-decoration: underline;
}
